<%= form_with(model: channal, local: true) do |form| %>
  <% if channal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channal.errors.count, "error") %> prohibited this channal from being saved:</h2>

      <ul>
        <% channal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
