<p id="notice"><%= notice %></p>

<h1>Tvshows</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Time</th>
      <th>Channal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tvshows.each do |tvshow| %>
      <tr>
        <td><%= tvshow.title %></td>
        <td><%= tvshow.time %></td>
        <td><%= tvshow.channal_id %></td>
        <td><%= link_to 'Show', tvshow %></td>
        <td><%= link_to 'Edit', edit_tvshow_path(tvshow) %></td>
        <td><%= link_to 'Destroy', tvshow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tvshow', new_tvshow_path %>
