<div class="container">
	<div class="row">
			
		<% if @tvshows.length > 0 %>
			<% @tvshows.each do |tvshow| %>
				<div class="col-md-3">
					<div class="card shadow-sm">
				      <div class="card-header">
				        <h4 class="my-0 font-weight-normal"><%= tvshow.title %></h4>
				      </div>
				      <div class="card-body text-center">
				        <h4 class="card-title pricing-card-title">8:30 PM</h4>
				        <ul class="list-unstyled mt-3 ">
				          <li><%= tvshow.channal.channal_type.try(:titleize) %></li>
				          <li><%= channal_status(tvshow.status) %></li>
				          <li><span class='badge badge-warning'><%= tvshow.channal.title.try(:titleize) %></span> </li>
				        </ul>

				        <% if tvshow.isfavourite%>
				        	<a href="<%= tv_shows_favourite_path(tvshow,isfavourite: false) %>" class="btn btn-sm btn-block btn-outline-warning">Unfavourite</a>
				        <% else %>
				        	<a href="<%= tv_shows_favourite_path(tvshow,isfavourite: true) %>" class="btn btn-sm btn-block btn-outline-primary">Add to favourite</a>
				        <% end -%>

				      </div>
				    </div>
				</div>
			<% end -%>
			<% else %>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<div class="card">
									<div class="card-body">
											<small><p>No Show Available</p></small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end -%>


	</div>
</div>